<div id="home-buttons" style="display:flex;justify-content:center;">
<button style="width:45%;background:rgba(0,0,255,0.6);height:100px;margin:5px;" phx-click="random-room" title="Create a random room">Create a random public room</button>
<button style="width:45%;background:rgba(255, 0, 0, 0.6);height:100px;margin:5px;"phx-click="private-chat" title="Join the user only chat">Join the user only chat</button>
</div>